<div id="edit_user">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :current_password, "現在のパスワード" %> <br />
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワードを入力してください", class: "password" %>
      <button type="button" name="button">
        <i class="fas fa-eye"></i>
      </button>
    </div>

    <div class="field">
      <%= f.label :password, "新しいパスワード" %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "新しいパスワードを入力してください", class: "password" %>
      <button type="button" name="button">
        <i class="fas fa-eye"></i>
      </button>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "新しいパスワード再入力" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "入力したパスワードを再入力してください", class: "password" %>
      <button type="button" name="button">
        <i class="fas fa-eye"></i>
      </button>
    </div>

    <div class="actions">
      <%= link_to :back do %>
        <button id="back">戻る</button>
      <% end %>
      <button id="update">更新</button>
    </div>
  <% end %>
</div>
