<%= form_with(model: @ducument, local: true, url: create_path) do |f| %>
  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="image">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <%= f.submit %>
<% end %>
