<div id="home">
  <%= flash[:notice] %>
  <h2>情報ページ</h2>
  <div id="buttons">
    <button type="button" class="btn btn-primary" id="display">
      情報を表示
    </button>
    <button type="button" class="btn btn-primary none" id="hide">
      情報を非表示
    </button>
    <button type="button" class="btn btn-primary js-modal-open">
      修正を申請する
    </button>
    <button type="button" class="btn btn-success">
      <i class="fas fa-lock"></i>
      <%= link_to "パスワードの変更", users_edit_path %>
    </button>
  </div>

  <div id="information" class="mosaic">
    <div class="block">
      <span class="title">案件情報</span>
      <p class="first">
        <span class="category">契約先:</span>
        <span class="content">  <%= @matter.contractor %></span>
      </p>
      <p>
        <span class="category">案件名:</span>
        <span class="content">  <%= @matter.name %></span>
      </p>
      <p>
        <span class="category">単金:</span>
        <span class="content">  <%= @matter.price %></span>
      </p>
      <p class="last">
        <span class="category">精算幅:</span>
        <span class="content"><%= @matter.width_under %>~<%= @matter.width_up %></span>
      </p>
    </div>

    <div class="block">
      <span class="title">会社情報</span>
      <p class="first">
        <span class="category">メールアドレス</span>
        <span class="content">  <%= current_user.email %></span>
      </p>
      <p>
        <span class="category">在籍:</span>
        <span class="content">  <%= @organization.afiliation %></span>
      </p>
      <p>
        <span class="category">基本給(みなし残業代含む):</span>
        <span class="content">  <%= @organization.basic_salary %></span>
      </p>
      <p>
        <span class="category">諸手当:</span>
        <span class="content">  <%= @organization.allowances %></span>
      </p>
      <p class="last">
        <span class="category">雇用保険番号:</span>
        <span class="content"><%= @organization.insurance_number %></span>
      </p>
    </div>

    <div class="block">
      <span class="title">個人情報</span>
      <p class="first">
        <span class="category">名前</span>
        <span class="content">  <%= current_user.name %></span>
      </p>
      <p>
        <span class="category">電話番号:</span>
        <span class="content">  <%= current_user.phone_number %></span>
      </p>
      <p>
        <span class="category">現住所:</span>
        <span class="content">  <%= current_user.address %></span>
      </p>
      <p>
        <span class="category">緊急連絡先:</span>
        <span class="content">  <%= current_user.emergency_contact %></span>
      </p>
      <p>
        <span class="category"></span>
        <span class="content">  (続柄: <%= current_user.relationship %>)</span>
      </p>
      <p>
        <span class="category">マイナンバー:</span>
        <span class="content">  <%= current_user.mynumber.to_s.scan(/.{1,4}/).join('-') %></span>
      </p>
      <p>
        <span class="category">銀行口座:</span>
        <span class="content">  <%= current_user.account %></span>
      </p>
      <p class="last">
        <span class="category">年金番号:</span>
        <span class="content"><%= current_user.pension_number.to_s[0,4] %>-<%= current_user.pension_number.to_s[5,11] %></span>
      </p>
    </div>
  </div>
</div>


<div class="modal js-modal">
  <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
      <div id="form_title">
        <h5>情報修正依頼</h5>
      </div>
      <%= form_with(model: @fix_request, remote: true, url: create_path) do |f| %>
        <div class="target">
          <%= f.label :target, "修正対象" %><br>
          <%= f.select :target ,FixRequest.targets.options, include_blank: "選択して下さい"  %>
        </div>

        <div class="content">
          <%= f.label :content, "修正内容" %><br>
          <%=f.text_area :content %>
        </div>

        <div id="form_buttons">
          <span class="js-modal-close btn btn-secondary">閉じる</span>
          <%= f.submit "修正依頼", class: "btn btn-primary" %>
        </div>
      <% end %>
  </div>
</div>
