<div class="container-fluid">
  <div class="row">
    <div id="login">
      <div id="welcome">
        <i class="fas fa-running"></i>
        <span>SDASH</span>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field">
          <span><%= f.label :email %></span>
          <span id="email"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></span>
        </div>

        <div class="field">
          <span><%= f.label :password %></span>
          <span id="password"><%= f.password_field :password, autocomplete: "current-password" %></span>
        </div>

        <div class="actions">
          <%= f.submit "Login"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
