<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div id="header_left" class="col-md-2">
          <a href="home">
            <i class="fas fa-running" id="app_running"></i>
            <p id="app_name">SDASH</p>
          </a>
        </div>
        <div id="header_right" class="col-md-10">
          <div id="user">
            <i class="fas fa-user fa-lg mx-2"></i>
            <% if current_user %>
              <%= current_user.name %>
            <% end %>
          </div>
          <p id="logout"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %></p>
        </div>
        <div id="sidebar" class="col-md-2">
          <a id="first" class="home"><i class="fas fa-file-alt fa-lg"></i><h5>情報</h5></a>
          <a class="expenserequest"><i class="fas fa-clipboard-check fa-l"></i><h5>経費申請</h5></a>
          <a class="attendance"><i class="fas fa-user-clock fa-lg"></i><h5>勤怠表</h5></a>
          <a class="payslip"><i class="fas fa-yen-sign fa-lg"></i><h5>給与明細</h5></a>
          <a class="document"><i class="fas fa-file-alt fa-lg"></i><h5>社内資料</h5></a>
        </div>
        <div id="main" class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
